# Python
__pycache__/
*.py[cod]
*$py.class
*.so
dist/
build/
*.egg-info/
*.egg
data/
reports/

# Sanal ortam
venv/
.venv/
env/

# Ortam değişkenleri (GİZLİ BİLGİLER)
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
